header{
    font-family:'Segoe UI';
    background-color:#020F49;
    color: white;
    text-align: center;
    padding: 10px;
}
nav{
    background-color:black;
    padding: 1px;
}
section{
    grid-column:1/4;
    background-color:#031256;
    padding: 20px;
    text-align: center;
    font-family:'Segoe UI';
    font-size: 20px;
    color: white;
}

aside{
    grid-column:4/5;
    background-color:black;
    padding: 20px;
}
footer{
    background-color:black;
    padding: 20px;
    color: white;
    font-family:'Segoe UI';
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



/* MENU */

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: black;
    height: 40px;
    text-decoration: none;
    font-family:'Segoe UI';
    width: 200px;
}

.menu a:hover {
    background: #34495E;
    color: #fff;

}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu li:hover .dropdown-1>li {
    top: 0;
    display: block;
}

.dropdown-1 li {
    display: none;
    position: relative;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-1 li:hover {
    display: block;
}